/* @import url('../index.css');
@import url('./africa.css');


.box1{
  background-image: url("../img/nation.png")!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;              /* optional, center the image
  filter: brightness(10%);
  -webkit-filter:brightness(10%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 500px;
  width:100%;

} */
