body{
  background: url('./img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
  background: none;
}
.navbar-right {
    float: right !important;
  }
  .navbar-nav > .nav-item{
    margin-left:30px;
    margin-right:30px;
  }
